# Ignore following files
CVSD期中考成績.xlsx
HW/Final/CVSD期末專題分組結果.xlsx
HW/Final/score/CVSD期末專題ranking_學生release.xlsx
HW/HW1/score/1121_hw1_v1.xlsx
HW/HW1/score/1121_hw1_v1.xlsx.zip
HW/HW2/score/HW2_grade.xlsx
HW/HW4/score/hw4_grade_release.xlsx
HW/HW5/HW5_Grade.xlsx
Lab/
Lecture/Note/
Lecture/Week01/cvsd.cshrc
Lecture/Week01/個資同意書_杜冠廷.pdf
Midterm Seat.pdf
PIC/
SharingMember.txt
火力支援-考古題